@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply bg-white text-black font-open-sans h-full;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

li {
  list-style: none;
}
